
/*===============================>
#responsive part start
===============================>*/
/* @media screen and (max-width: 992px) {
    #nav.container {
        position: relative;
    }
    #nav #main_menu{
        position: fixed;
        background: red;
        top: 190px;
        left: 0;
        width: 100%;
        height: 100%;
    }
} */

/*===============================>
#responsive part end
===============================>*/